## Welcome to the notebook 

The purpose of this notebook is to learn the pandas library in a relatable way

First we need to import the necessary libraries for the notebook, in this case will be only pandas

In [1]:
import pandas as pd

## The series object

The pandas series object is like an array or a list but in the pandas library

In [2]:
se = pd.Series([10, 20, 30, 40, 50, 60, 70, 80, 90])
se

0    10
1    20
2    30
3    40
4    50
5    60
6    70
7    80
8    90
dtype: int64

These values do not have a context, let's name the series

In [3]:
se.name = 'amounts'
se

0    10
1    20
2    30
3    40
4    50
5    60
6    70
7    80
8    90
Name: amounts, dtype: int64

We can check its type

In [4]:
se.dtype

dtype('int64')

And its values

In [5]:
se.values

array([10, 20, 30, 40, 50, 60, 70, 80, 90], dtype=int64)

The series object has an index just like a numpy array, because the series is built on top of an actual numpy array

In [6]:
se

0    10
1    20
2    30
3    40
4    50
5    60
6    70
7    80
8    90
Name: amounts, dtype: int64

Filtering: using index

In [7]:
se[0]

10

In [8]:
se[5]

60

We can check the indexes of the series

In [9]:
se.index

RangeIndex(start=0, stop=9, step=1)

But we can also **change** the indexes

In [10]:
se.index = ['First', 'Second', 'Third', 'Fourth', 'Fifth', 'Sixth', 'Seventh', 'Eighth', 'Ninth'] 
se.index

Index(['First', 'Second', 'Third', 'Fourth', 'Fifth', 'Sixth', 'Seventh',
       'Eighth', 'Ninth'],
      dtype='object')

Now let's print the series after the changes

In [11]:
se

First      10
Second     20
Third      30
Fourth     40
Fifth      50
Sixth      60
Seventh    70
Eighth     80
Ninth      90
Name: amounts, dtype: int64

What if we want to streamline the process, creating the series with its indexes, just like a dictionary

In [12]:
# Dictionary
se_v2 = {'Blue': 10, 'Red': 40, 'Black': 200}
se_v2

{'Blue': 10, 'Red': 40, 'Black': 200}

In [13]:
# Series
se_v3 = pd.Series({'Blue': 10, 'Red': 40, 'Black': 200})
se_v3

Blue      10
Red       40
Black    200
dtype: int64

Let's streamline the process even more by passing through the name of the series

In [14]:
se_v3 = pd.Series({'Blue': 10, 'Red': 40, 'Black': 200}, name='Series_name_version_3')
se_v3

Blue      10
Red       40
Black    200
Name: Series_name_version_3, dtype: int64

Another way to do it:

In [15]:
se_v4 = pd.Series(
    [100, 200, 300, 250, 500], 
    index=['Pants#1261', 'Shirt#45', 'Belt#5', 'Glasses#29', 'Shoes#9'],
    name='Shopping Series')
se_v4

Pants#1261    100
Shirt#45      200
Belt#5        300
Glasses#29    250
Shoes#9       500
Name: Shopping Series, dtype: int64

If we changed the indexes of our series that means we can use them to filter

In [16]:
se_v4['Pants#1261']

100

In [17]:
se_v4['Shoes#9']

500

Mutliple index filtering

In [18]:
se_v4[['Glasses#29', 'Belt#5']]

Glasses#29    250
Belt#5        300
Name: Shopping Series, dtype: int64

We can still filter using the regular indexes [0, 1, 2 ...] using the method .iloc

In [19]:
se_v4[0]

100

In [20]:
se_v4.iloc[-1]

500

We need to take into account that filtering in pandas works different than filtering in normal python. 

In Pandas the upper limit is included whereas in python isn't

In [21]:
se_v4

Pants#1261    100
Shirt#45      200
Belt#5        300
Glasses#29    250
Shoes#9       500
Name: Shopping Series, dtype: int64

In [22]:
# Pandas
se_v4['Shirt#45':'Glasses#29']

Shirt#45      200
Belt#5        300
Glasses#29    250
Name: Shopping Series, dtype: int64

Using Python Filtering

In [23]:
# Using Python filtering
se_v4.iloc[0:2]

Pants#1261    100
Shirt#45      200
Name: Shopping Series, dtype: int64

Using Pandas Filtering

In [24]:
# Using Pandas Filtering
se_v4['Pants#1261':'Belt#5']

Pants#1261    100
Shirt#45      200
Belt#5        300
Name: Shopping Series, dtype: int64

Conditional operations in pandas series

In [25]:
se_v4 > 150

Pants#1261    False
Shirt#45       True
Belt#5         True
Glasses#29     True
Shoes#9        True
Name: Shopping Series, dtype: bool

Outputting a boolean Series

In [26]:
se_v4 > se_v4.mean()

Pants#1261    False
Shirt#45      False
Belt#5         True
Glasses#29    False
Shoes#9        True
Name: Shopping Series, dtype: bool

Outputting a filtered series of the actual values

In [27]:
se_v4 [se_v4 > se_v4.mean()]

Belt#5     300
Shoes#9    500
Name: Shopping Series, dtype: int64

In [28]:
se_v4.count()

5

Mathematical operations

In [29]:
se_v4 + 10000

Pants#1261    10100
Shirt#45      10200
Belt#5        10300
Glasses#29    10250
Shoes#9       10500
Name: Shopping Series, dtype: int64

In [30]:
se_v4.mean()

270.0

In [31]:
se_v4.std()

148.32396974191326

## The dataframe object

Read CSV file and creating a table-like structure called dataframe

In [32]:
# Example of reading a file in another folder
# df = pd.read_csv('C:\\Users\\User\\Documents\\Learning\\Python\\Pandas\\pandas-master\\pokemon_data.csv')
df = pd.read_csv('pokemon_data.csv')

Read excel file

In [33]:
# df_xlsx = pd.read_excel('D:\\Learning\\Python\\Learning notebooks\\Pandas\\pandas-master\\pokemon_data.xlsx')
df_xlsx = pd.read_excel('pokemon_data.xlsx')

Show a portition of the data top to bottom, usually the first 5 rows

In [34]:
df_xlsx.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

Read Tabular data, separated by \

In [35]:
# pd_tab_data = pd.read_csv('D:\\Learning\\Python\\Learning notebooks\\Pandas\\pandas-master\\pokemon_data.txt')
pd_tab_data = pd.read_csv('pokemon_data.txt')

In [36]:
pd_tab_data.head()

  #\tName\tType 1\tType 2\tHP\tAttack\tDefense\tSp. Atk\tSp. Def\tSpeed\tGeneration\tLegendary
0  1\tBulbasaur\tGrass\tPoison\t45\t49\t49\t65\t6...
1  2\tIvysaur\tGrass\tPoison\t60\t62\t63\t80\t80\...
2  3\tVenusaur\tGrass\tPoison\t80\t82\t83\t100\t1...
3  3\tVenusaurMega Venusaur\tGrass\tPoison\t80\t1...
4  4\tCharmander\tFire\t\t39\t52\t43\t60\t50\t65\...

It shows only one column, let's work this out with the delimiters

Reload the same data specifying the character used to separate columns

In [37]:
# pd_tab_data = pd.read_csv('D:\\Learning\\Python\\Learning notebooks\\Pandas\\pandas-master\\pokemon_data.txt', delimiter='\t')
pd_tab_data = pd.read_csv('pokemon_data.txt', delimiter='\t')

Read the data again

In [38]:
pd_tab_data.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

The dataframe was created correctly, now let's print it in another way

In [39]:
print(df)

       #                   Name   Type 1  Type 2  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison  45      49       49
1      2                Ivysaur    Grass  Poison  60      62       63
2      3               Venusaur    Grass  Poison  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison  80     100      123
4      4             Charmander     Fire     NaN  39      52       43
..   ...                    ...      ...     ...  ..     ...      ...
795  719                Diancie     Rock   Fairy  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark  80     160       60
799  721              Volcanion     Fire   Water  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         65       65     45           1      False
1         80       80     60           1      False
2        100      100     80           1      False
3        122      120     80           1      False
4         60       50     65           1      False
..       ...      ...    ...         ...        ...
795      100      150     50           6       True
796      160      110    110           6       True
797      150      130     70           6       True
798      170      130     80           6       True
799      130       90     70           6       True

[800 rows x 12 columns]

using print() shows a text based output, but using just head as a single output in a cell shows the dataframe as a table, in a prettier way

In [40]:
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

We can adjust how many rows head() shows

In [41]:
df.head(20)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,79,83,100,85,105,78,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,1,False
13,10,Caterpie,Bug,NaN,45,30,35,20,20,45,1,False
14,11,Metapod,Bug,NaN,50,20,55,25,25,30,1,False
15,12,Butterfree,Bug,Flying,60,45,50,90,80,70,1,False
16,13,Weedle,Bug,Poison,40,35,30,20,20,50,1,False
17,14,Kakuna,Bug,Poison,45,25,50,25,25,35,1,False
18,15,Beedrill,Bug,Poison,65,90,40,45,80,75,1,False
19,15,BeedrillMega Beedrill,Bug,Poison,65,150,40,15,80,145,1,False

The Tail() method works just like head(), but its output are the last rows of the dataframe

In [42]:
df.tail()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

Print the list of columns of a dataframe

In [43]:
print(df.columns)

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

we can also use the .columns method

In [44]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

Print columns of a dataframe

In [45]:
# print(df['Name'])
# Or
# print(df.Name)

Slice the dataframe into a subset of rows in a specific column

In [46]:
print(df.Name[0:4])

0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
Name: Name, dtype: object

Print a subset of columns with all its rows

In [47]:
print(df[['Name','Type 1', 'Type 2', 'HP']])

                      Name   Type 1  Type 2  HP
0                Bulbasaur    Grass  Poison  45
1                  Ivysaur    Grass  Poison  60
2                 Venusaur    Grass  Poison  80
3    VenusaurMega Venusaur    Grass  Poison  80
4               Charmander     Fire     NaN  39
..                     ...      ...     ...  ..
795                Diancie     Rock   Fairy  50
796    DiancieMega Diancie     Rock   Fairy  50
797    HoopaHoopa Confined  Psychic   Ghost  80
798     HoopaHoopa Unbound  Psychic    Dark  80
799              Volcanion     Fire   Water  80

[800 rows x 4 columns]

Print a subset of rows using its index as a key

In [48]:
print(df.iloc[4:9])

   #                       Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
4  4                 Charmander   Fire     NaN  39      52       43       60
5  5                 Charmeleon   Fire     NaN  58      64       58       80
6  6                  Charizard   Fire  Flying  78      84       78      109
7  6  CharizardMega Charizard X   Fire  Dragon  78     130      111      130
8  6  CharizardMega Charizard Y   Fire  Flying  78     104       78      159

   Sp. Def  Speed  Generation  Legendary
4       50     65           1      False
5       65     80           1      False
6       85    100           1      False
7       85    100           1      False
8      115    100           1      False

Just one row as a string

In [49]:
df.iloc[0,1]

'Bulbasaur'

One row with a subset of columns

In [50]:
df.iloc[0,1:3]

Name      Bulbasaur
Type 1        Grass
Name: 0, dtype: object

Iterate in a dataframe printing using the iterrows() method

In [51]:
# for index, row in df.iterrows():
#    print(index, row)

Print the values but only the Name column

In [52]:
# for index, row in df.iterrows():
#    print(index, row['Name'])

Slicing and filter data based on its values

In [53]:
df.loc[df['Type 1'] == 'Fairy']

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
40,35,Clefairy,Fairy,NaN,70,45,48,60,65,35,1,False
41,36,Clefable,Fairy,NaN,95,70,73,95,90,60,1,False
187,173,Cleffa,Fairy,NaN,50,25,28,45,55,15,2,False
189,175,Togepi,Fairy,NaN,35,20,65,40,65,20,2,False
190,176,Togetic,Fairy,Flying,55,40,85,80,105,40,2,False
225,209,Snubbull,Fairy,NaN,60,80,50,40,40,30,2,False
226,210,Granbull,Fairy,NaN,90,120,75,60,60,45,2,False
519,468,Togekiss,Fairy,Flying,85,50,95,120,115,80,4,False
737,669,Flabb,Fairy,NaN,44,38,39,61,79,42,6,False
738,670,Floette,Fairy,NaN,54,45,47,75,98,52,6,False
739,671,Florges,Fairy,NaN,78,65,68,112,154,75,6,False
752,682,Spritzee,Fairy,NaN,78,52,60,63,65,23,6,False
753,683,Aromatisse,Fairy,NaN,101,72,72,99,89,29,6,False
754,684,Swirlix,Fairy,NaN,62,48,66,59,57,49,6,False
755,685,Slurpuff,Fairy,NaN,82,80,86,85,75,72,6,False
770,700,Sylveon,Fairy,NaN,95,65,65,110,130,60,6,False
792,716,Xerneas,Fairy,NaN,126,131,95,131,98,99,6,True

Another condition Type

In [54]:
df.loc[df['Type 1'] == 'Grass']

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
48,43,Oddish,Grass,Poison,45,50,55,75,65,30,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
718,650,Chespin,Grass,NaN,56,61,65,48,45,38,6,False
719,651,Quilladin,Grass,NaN,61,78,95,56,58,57,6,False
720,652,Chesnaught,Grass,Fighting,88,107,122,74,75,64,6,False
740,672,Skiddo,Grass,NaN,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,6,False

The describe() method prints the basic stats of a dataframe

In [55]:
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

Let's count how many rows has the dataframe

In [56]:
print(len(df.index)) # Printing the length of the index of the dataframe
print(df.shape) # Printng the shape of the entire dataframe
print(df.shape[0]) # Printing a shape of a single array using the first column
print(df[df.columns[0]].count()) # Printing the count of the first column

800
(800, 12)
800
800

Sort values by a column and or ascending / descending

In [57]:
df.sort_values('Name')

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True

In [58]:
df.sort_values('Name', ascending=False)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False

Multiple column sort specifying true or false 
(1 & 0) in the ascending value

In [59]:
df.sort_values(['Type 1', 'Type 2'], ascending=[1,0])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
307,283,Surskit,Bug,Water,40,30,32,50,52,65,3,False
220,205,Forretress,Bug,Steel,75,90,140,60,60,40,2,False
228,212,Scizor,Bug,Steel,70,130,100,55,80,65,2,False
229,212,ScizorMega Scizor,Bug,Steel,70,150,140,65,100,75,2,False
460,413,WormadamTrash Cloak,Bug,Steel,60,69,95,69,95,36,4,False
...,...,...,...,...,...,...,...,...,...,...,...,...
655,594,Alomomola,Water,NaN,165,75,80,40,45,65,5,False
724,656,Froakie,Water,NaN,41,56,40,62,44,71,6,False
725,657,Frogadier,Water,NaN,54,63,52,83,56,97,6,False
762,692,Clauncher,Water,NaN,50,53,62,58,63,44,6,False
763,693,Clawitzer,Water,NaN,71,73,88,120,89,59,6,False

Creating a new column based in the sum of some columns

In [60]:
df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

Test the values

In [61]:
45 + 49 + 49 + 65 + 65 + 45

318

Drop a specific or some columns of the dataframe

In [62]:
df = df.drop(columns= ['Total'])

In [63]:
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

Create a column based of the sum() method of some rows  using iloc [all rows, from 5th column to the 9th column], meaning the stats, adding the values horizontally -> -> 

Remember zero indexing and inclusive - exclusive limits

In [64]:
df['Totalv2'] = df.iloc[:,4:10].sum(axis=1)
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Totalv2
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

Move the order of columns of the dataframe

In [65]:
# Create a list of the column values
cols = list(df.columns.values)

In [66]:
# df[cols[0:4] + cols[-1] + cols[4:12]]

Error !, the item cols[-i] is outputted as a string, not a list, so we need to transform it to list in order to concatenate all values into a dataframe

In [67]:
df[cols[0:4] + [cols[-1]] + cols[4:12]]

,#,Name,Type 1,Type 2,Totalv2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

Now we save the dataframe

In [68]:
df = df[cols[0:4] + [cols[-1]] + cols[4:12]]
df.head()

,#,Name,Type 1,Type 2,Totalv2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

Another way of this doing this

In [69]:
df = df[['Totalv2', 'HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', '#', 'Name', 'Type 1', 'Type 2', 'Generation', 'Legendary']]
df.head()

,Totalv2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,#,Name,Type 1,Type 2,Generation,Legendary
0,318,45,49,49,65,65,45,1,Bulbasaur,Grass,Poison,1,False
1,405,60,62,63,80,80,60,2,Ivysaur,Grass,Poison,1,False
2,525,80,82,83,100,100,80,3,Venusaur,Grass,Poison,1,False
3,625,80,100,123,122,120,80,3,VenusaurMega Venusaur,Grass,Poison,1,False
4,309,39,52,43,60,50,65,4,Charmander,Fire,NaN,1,False

Saving the dataframe as a new CSV file, using the to_csv() method and passing the name parameter, note: the new file will be created at the same directory as this jupyter notebook

In [70]:
df.to_csv('modified_pokemon_df.csv')

Now lets filter the index so it doesnt get saved with the data

In [71]:
df.to_csv('modified_pokemon_df.csv', index=False)

Likewise theres a to_excel() method

In [72]:
df.to_excel('modified_pokemon_df.xlsx', index=False)

Now lets save it with more complex parameters, this time using the separator parameter just like the read_csv() method

In [73]:
df.to_csv('modified_pokemon_df.csv', index=False, sep='\t')

In [74]:
# Lets save the dataframe again to ease the repeatability of the notebook
df.to_csv('modified_pokemon_df.csv', index=False)

## Filtering Data

Normal filtering: Equal operator ==

In [75]:
df.loc[df['Type 1'] == 'Grass']

,Totalv2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,#,Name,Type 1,Type 2,Generation,Legendary
0,318,45,49,49,65,65,45,1,Bulbasaur,Grass,Poison,1,False
1,405,60,62,63,80,80,60,2,Ivysaur,Grass,Poison,1,False
2,525,80,82,83,100,100,80,3,Venusaur,Grass,Poison,1,False
3,625,80,100,123,122,120,80,3,VenusaurMega Venusaur,Grass,Poison,1,False
48,320,45,50,55,75,65,30,43,Oddish,Grass,Poison,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
718,313,56,61,65,48,45,38,650,Chespin,Grass,NaN,6,False
719,405,61,78,95,56,58,57,651,Quilladin,Grass,NaN,6,False
720,530,88,107,122,74,75,64,652,Chesnaught,Grass,Fighting,6,False
740,350,66,65,48,62,57,52,672,Skiddo,Grass,NaN,6,False
741,531,123,100,62,97,81,68,673,Gogoat,Grass,NaN,6,False

Normal filtering: Not equal operator !=

In [76]:
df.loc[df['Type 1'] != 'Grass']

,Totalv2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,#,Name,Type 1,Type 2,Generation,Legendary
4,309,39,52,43,60,50,65,4,Charmander,Fire,NaN,1,False
5,405,58,64,58,80,65,80,5,Charmeleon,Fire,NaN,1,False
6,534,78,84,78,109,85,100,6,Charizard,Fire,Flying,1,False
7,634,78,130,111,130,85,100,6,CharizardMega Charizard X,Fire,Dragon,1,False
8,634,78,104,78,159,115,100,6,CharizardMega Charizard Y,Fire,Flying,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,600,50,100,150,100,150,50,719,Diancie,Rock,Fairy,6,True
796,700,50,160,110,160,110,110,719,DiancieMega Diancie,Rock,Fairy,6,True
797,600,80,110,60,150,130,70,720,HoopaHoopa Confined,Psychic,Ghost,6,True
798,680,80,160,60,170,130,80,720,HoopaHoopa Unbound,Psychic,Dark,6,True
799,600,80,110,120,130,90,70,721,Volcanion,Fire,Water,6,True

Multiple conditions: And operator &

In [77]:
df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison')]

,Totalv2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,#,Name,Type 1,Type 2,Generation,Legendary
0,318,45,49,49,65,65,45,1,Bulbasaur,Grass,Poison,1,False
1,405,60,62,63,80,80,60,2,Ivysaur,Grass,Poison,1,False
2,525,80,82,83,100,100,80,3,Venusaur,Grass,Poison,1,False
3,625,80,100,123,122,120,80,3,VenusaurMega Venusaur,Grass,Poison,1,False
48,320,45,50,55,75,65,30,43,Oddish,Grass,Poison,1,False
49,395,60,65,70,85,75,40,44,Gloom,Grass,Poison,1,False
50,490,75,80,85,110,90,50,45,Vileplume,Grass,Poison,1,False
75,300,50,75,35,70,30,40,69,Bellsprout,Grass,Poison,1,False
76,390,65,90,50,85,45,55,70,Weepinbell,Grass,Poison,1,False
77,490,80,105,65,100,70,70,71,Victreebel,Grass,Poison,1,False
344,400,50,60,45,100,80,65,315,Roselia,Grass,Poison,3,False
451,280,40,30,35,50,70,55,406,Budew,Grass,Poison,4,False
452,515,60,70,65,125,105,90,407,Roserade,Grass,Poison,4,False
651,294,69,55,45,55,55,15,590,Foongus,Grass,Poison,5,False
652,464,114,85,70,85,80,30,591,Amoonguss,Grass,Poison,5,False

Multiple conditions: Or operator |

In [78]:
df.loc[(df['Type 1'] == 'Grass') | (df['Type 1'] == 'Fire')]

,Totalv2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,#,Name,Type 1,Type 2,Generation,Legendary
0,318,45,49,49,65,65,45,1,Bulbasaur,Grass,Poison,1,False
1,405,60,62,63,80,80,60,2,Ivysaur,Grass,Poison,1,False
2,525,80,82,83,100,100,80,3,Venusaur,Grass,Poison,1,False
3,625,80,100,123,122,120,80,3,VenusaurMega Venusaur,Grass,Poison,1,False
4,309,39,52,43,60,50,65,4,Charmander,Fire,NaN,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,369,62,50,58,73,54,72,667,Litleo,Fire,Normal,6,False
736,507,86,68,72,109,66,106,668,Pyroar,Fire,Normal,6,False
740,350,66,65,48,62,57,52,672,Skiddo,Grass,NaN,6,False
741,531,123,100,62,97,81,68,673,Gogoat,Grass,NaN,6,False
799,600,80,110,120,130,90,70,721,Volcanion,Fire,Water,6,True

Combination of filters

In [79]:
df.loc[(df['Attack'] > 80) & (df['Type 1'] == 'Grass') | (df['Type 1'] == 'Poison')]

,Totalv2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,#,Name,Type 1,Type 2,Generation,Legendary
2,525,80,82,83,100,100,80,3,Venusaur,Grass,Poison,1,False
3,625,80,100,123,122,120,80,3,VenusaurMega Venusaur,Grass,Poison,1,False
28,288,35,60,44,40,54,55,23,Ekans,Poison,NaN,1,False
29,438,60,85,69,65,79,80,24,Arbok,Poison,NaN,1,False
34,275,55,47,52,40,40,41,29,Nidoran (Female),Poison,NaN,1,False
35,365,70,62,67,55,55,56,30,Nidorina,Poison,NaN,1,False
36,505,90,92,87,75,85,76,31,Nidoqueen,Poison,Ground,1,False
37,273,46,57,40,40,40,50,32,Nidoran (Male),Poison,NaN,1,False
38,365,61,72,57,55,55,65,33,Nidorino,Poison,NaN,1,False
39,505,81,102,77,85,75,85,34,Nidoking,Poison,Ground,1,False
46,245,40,45,35,30,40,55,41,Zubat,Poison,Flying,1,False
47,455,75,80,70,65,75,90,42,Golbat,Poison,Flying,1,False
76,390,65,90,50,85,45,55,70,Weepinbell,Grass,Poison,1,False
77,490,80,105,65,100,70,70,71,Victreebel,Grass,Poison,1,False
95,325,80,80,50,40,50,25,88,Grimer,Poison,NaN,1,False
96,500,105,105,75,65,100,50,89,Muk,Poison,NaN,1,False
111,520,95,95,85,125,65,55,103,Exeggutor,Grass,Psychic,1,False
117,340,40,65,95,60,45,35,109,Koffing,Poison,NaN,1,False
118,490,65,90,120,85,70,60,110,Weezing,Poison,NaN,1,False
168,525,80,82,100,83,100,80,154,Meganium,Grass,NaN,2,False
183,535,85,90,80,70,80,130,169,Crobat,Poison,Flying,2,False
274,530,70,85,65,105,85,120,254,Sceptile,Grass,NaN,3,False
275,630,70,110,75,145,85,145,254,SceptileMega Sceptile,Grass,Dragon,3,False
298,480,90,100,60,90,60,80,275,Shiftry,Grass,Dark,3,False
310,460,60,130,80,60,60,70,286,Breloom,Grass,Fighting,3,False
345,302,70,43,53,43,53,40,316,Gulpin,Poison,NaN,3,False
346,467,100,73,83,73,83,55,317,Swalot,Poison,NaN,3,False
362,335,50,85,40,85,40,35,331,Cacnea,Grass,NaN,3,False
363,475,70,115,60,115,60,55,332,Cacturne,Grass,Dark,3,False
368,458,73,100,60,100,60,65,336,Seviper,Poison,NaN,3,False
433,405,75,89,85,55,65,36,388,Grotle,Grass,NaN,4,False
434,525,95,109,105,75,85,56,389,Torterra,Grass,Ground,4,False
482,329,63,63,47,41,41,74,434,Stunky,Poison,Dark,4,False
483,479,103,93,67,71,61,84,435,Skuntank,Poison,Dark,4,False
501,330,40,50,90,30,55,65,451,Skorupi,Poison,Bug,4,False
502,500,70,90,110,60,75,95,452,Drapion,Poison,Dark,4,False
503,300,48,61,40,61,40,50,453,Croagunk,Poison,Fighting,4,False
504,490,83,106,65,86,65,85,454,Toxicroak,Poison,Fighting,4,False
505,454,74,100,72,90,72,46,455,Carnivine,Grass,NaN,4,False
510,494,90,92,75,92,85,60,460,Abomasnow,Grass,Ice,4,False
511,594,90,132,105,132,105,30,460,AbomasnowMega Abomasnow,Grass,Ice,4,False
516,535,100,100,125,110,50,50,465,Tangrowth,Grass,NaN,4,False
521,525,65,110,130,60,65,95,470,Leafeon,Grass,NaN,4,False
550,600,100,100,100,100,100,100,492,ShayminLand Forme,Grass,NaN,4,True
551,600,100,103,75,120,75,127,492,ShayminSky Forme,Grass,Flying,4,True
571,498,75,98,63,98,63,101,512,Simisage,Grass,NaN,5,False
617,461,75,86,67,106,67,60,556,Maractus,Grass,NaN,5,False
629,329,50,50,62,40,62,65,568,Trubbish,Poison,NaN,5,False
630,474,80,95,82,60,82,75,569,Garbodor,Poison,NaN,5,False
652,464,114,85,70,85,80,30,591,Amoonguss,Grass,Poison,5,False
659,489,74,94,131,54,116,20,598,Ferrothorn,Grass,Steel,5,False
701,580,91,90,72,90,129,108,640,Virizion,Grass,Fighting,5,True
720,530,88,107,122,74,75,64,652,Chesnaught,Grass,Fighting,6,False
741,531,123,100,62,97,81,68,673,Gogoat,Grass,NaN,6,False
760,320,50,60,60,60,60,30,690,Skrelp,Poison,Water,6,False
761,494,65,75,90,97,123,44,691,Dragalge,Poison,Dragon,6,False

now lets save it to a new df

In [80]:
df_filter = df.loc[(df['Attack'] > 80) & (df['Type 1'] == 'Grass') | (df['Type 1'] == 'Poison')]
df_filter.head(30)

,Totalv2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,#,Name,Type 1,Type 2,Generation,Legendary
2,525,80,82,83,100,100,80,3,Venusaur,Grass,Poison,1,False
3,625,80,100,123,122,120,80,3,VenusaurMega Venusaur,Grass,Poison,1,False
28,288,35,60,44,40,54,55,23,Ekans,Poison,NaN,1,False
29,438,60,85,69,65,79,80,24,Arbok,Poison,NaN,1,False
34,275,55,47,52,40,40,41,29,Nidoran (Female),Poison,NaN,1,False
35,365,70,62,67,55,55,56,30,Nidorina,Poison,NaN,1,False
36,505,90,92,87,75,85,76,31,Nidoqueen,Poison,Ground,1,False
37,273,46,57,40,40,40,50,32,Nidoran (Male),Poison,NaN,1,False
38,365,61,72,57,55,55,65,33,Nidorino,Poison,NaN,1,False
39,505,81,102,77,85,75,85,34,Nidoking,Poison,Ground,1,False
46,245,40,45,35,30,40,55,41,Zubat,Poison,Flying,1,False
47,455,75,80,70,65,75,90,42,Golbat,Poison,Flying,1,False
76,390,65,90,50,85,45,55,70,Weepinbell,Grass,Poison,1,False
77,490,80,105,65,100,70,70,71,Victreebel,Grass,Poison,1,False
95,325,80,80,50,40,50,25,88,Grimer,Poison,NaN,1,False
96,500,105,105,75,65,100,50,89,Muk,Poison,NaN,1,False
111,520,95,95,85,125,65,55,103,Exeggutor,Grass,Psychic,1,False
117,340,40,65,95,60,45,35,109,Koffing,Poison,NaN,1,False
118,490,65,90,120,85,70,60,110,Weezing,Poison,NaN,1,False
168,525,80,82,100,83,100,80,154,Meganium,Grass,NaN,2,False
183,535,85,90,80,70,80,130,169,Crobat,Poison,Flying,2,False
274,530,70,85,65,105,85,120,254,Sceptile,Grass,NaN,3,False
275,630,70,110,75,145,85,145,254,SceptileMega Sceptile,Grass,Dragon,3,False
298,480,90,100,60,90,60,80,275,Shiftry,Grass,Dark,3,False
310,460,60,130,80,60,60,70,286,Breloom,Grass,Fighting,3,False
345,302,70,43,53,43,53,40,316,Gulpin,Poison,NaN,3,False
346,467,100,73,83,73,83,55,317,Swalot,Poison,NaN,3,False
362,335,50,85,40,85,40,35,331,Cacnea,Grass,NaN,3,False
363,475,70,115,60,115,60,55,332,Cacturne,Grass,Dark,3,False
368,458,73,100,60,100,60,65,336,Seviper,Poison,NaN,3,False

We can see the new dataframe keeps the same index structure, this can be cumbersome in further slicing, so lets reset the index of the dataframe

In [81]:
df_filter = df_filter.reset_index()
df_filter.head(15)

,index,Totalv2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,#,Name,Type 1,Type 2,Generation,Legendary
0,2,525,80,82,83,100,100,80,3,Venusaur,Grass,Poison,1,False
1,3,625,80,100,123,122,120,80,3,VenusaurMega Venusaur,Grass,Poison,1,False
2,28,288,35,60,44,40,54,55,23,Ekans,Poison,NaN,1,False
3,29,438,60,85,69,65,79,80,24,Arbok,Poison,NaN,1,False
4,34,275,55,47,52,40,40,41,29,Nidoran (Female),Poison,NaN,1,False
5,35,365,70,62,67,55,55,56,30,Nidorina,Poison,NaN,1,False
6,36,505,90,92,87,75,85,76,31,Nidoqueen,Poison,Ground,1,False
7,37,273,46,57,40,40,40,50,32,Nidoran (Male),Poison,NaN,1,False
8,38,365,61,72,57,55,55,65,33,Nidorino,Poison,NaN,1,False
9,39,505,81,102,77,85,75,85,34,Nidoking,Poison,Ground,1,False
10,46,245,40,45,35,30,40,55,41,Zubat,Poison,Flying,1,False
11,47,455,75,80,70,65,75,90,42,Golbat,Poison,Flying,1,False
12,76,390,65,90,50,85,45,55,70,Weepinbell,Grass,Poison,1,False
13,77,490,80,105,65,100,70,70,71,Victreebel,Grass,Poison,1,False
14,95,325,80,80,50,40,50,25,88,Grimer,Poison,NaN,1,False

We can see it created two new columns, the old index named as Index and the new index named level_0, we can drop these column too

In [82]:
df_filter = df_filter.reset_index(drop=True)
df_filter.head(15)

,index,Totalv2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,#,Name,Type 1,Type 2,Generation,Legendary
0,2,525,80,82,83,100,100,80,3,Venusaur,Grass,Poison,1,False
1,3,625,80,100,123,122,120,80,3,VenusaurMega Venusaur,Grass,Poison,1,False
2,28,288,35,60,44,40,54,55,23,Ekans,Poison,NaN,1,False
3,29,438,60,85,69,65,79,80,24,Arbok,Poison,NaN,1,False
4,34,275,55,47,52,40,40,41,29,Nidoran (Female),Poison,NaN,1,False
5,35,365,70,62,67,55,55,56,30,Nidorina,Poison,NaN,1,False
6,36,505,90,92,87,75,85,76,31,Nidoqueen,Poison,Ground,1,False
7,37,273,46,57,40,40,40,50,32,Nidoran (Male),Poison,NaN,1,False
8,38,365,61,72,57,55,55,65,33,Nidorino,Poison,NaN,1,False
9,39,505,81,102,77,85,75,85,34,Nidoking,Poison,Ground,1,False
10,46,245,40,45,35,30,40,55,41,Zubat,Poison,Flying,1,False
11,47,455,75,80,70,65,75,90,42,Golbat,Poison,Flying,1,False
12,76,390,65,90,50,85,45,55,70,Weepinbell,Grass,Poison,1,False
13,77,490,80,105,65,100,70,70,71,Victreebel,Grass,Poison,1,False
14,95,325,80,80,50,40,50,25,88,Grimer,Poison,NaN,1,False

We can also reset it without assign its values to a new/another column

In [83]:
df_filter.reset_index(drop=True, inplace=True)
df_filter.head(15)

,index,Totalv2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,#,Name,Type 1,Type 2,Generation,Legendary
0,2,525,80,82,83,100,100,80,3,Venusaur,Grass,Poison,1,False
1,3,625,80,100,123,122,120,80,3,VenusaurMega Venusaur,Grass,Poison,1,False
2,28,288,35,60,44,40,54,55,23,Ekans,Poison,NaN,1,False
3,29,438,60,85,69,65,79,80,24,Arbok,Poison,NaN,1,False
4,34,275,55,47,52,40,40,41,29,Nidoran (Female),Poison,NaN,1,False
5,35,365,70,62,67,55,55,56,30,Nidorina,Poison,NaN,1,False
6,36,505,90,92,87,75,85,76,31,Nidoqueen,Poison,Ground,1,False
7,37,273,46,57,40,40,40,50,32,Nidoran (Male),Poison,NaN,1,False
8,38,365,61,72,57,55,55,65,33,Nidorino,Poison,NaN,1,False
9,39,505,81,102,77,85,75,85,34,Nidoking,Poison,Ground,1,False
10,46,245,40,45,35,30,40,55,41,Zubat,Poison,Flying,1,False
11,47,455,75,80,70,65,75,90,42,Golbat,Poison,Flying,1,False
12,76,390,65,90,50,85,45,55,70,Weepinbell,Grass,Poison,1,False
13,77,490,80,105,65,100,70,70,71,Victreebel,Grass,Poison,1,False
14,95,325,80,80,50,40,50,25,88,Grimer,Poison,NaN,1,False

Or we can just simply drop the column

In [84]:
df_filter = df_filter.drop(columns=['index'])
df_filter.head(15)

,Totalv2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,#,Name,Type 1,Type 2,Generation,Legendary
0,525,80,82,83,100,100,80,3,Venusaur,Grass,Poison,1,False
1,625,80,100,123,122,120,80,3,VenusaurMega Venusaur,Grass,Poison,1,False
2,288,35,60,44,40,54,55,23,Ekans,Poison,NaN,1,False
3,438,60,85,69,65,79,80,24,Arbok,Poison,NaN,1,False
4,275,55,47,52,40,40,41,29,Nidoran (Female),Poison,NaN,1,False
5,365,70,62,67,55,55,56,30,Nidorina,Poison,NaN,1,False
6,505,90,92,87,75,85,76,31,Nidoqueen,Poison,Ground,1,False
7,273,46,57,40,40,40,50,32,Nidoran (Male),Poison,NaN,1,False
8,365,61,72,57,55,55,65,33,Nidorino,Poison,NaN,1,False
9,505,81,102,77,85,75,85,34,Nidoking,Poison,Ground,1,False
10,245,40,45,35,30,40,55,41,Zubat,Poison,Flying,1,False
11,455,75,80,70,65,75,90,42,Golbat,Poison,Flying,1,False
12,390,65,90,50,85,45,55,70,Weepinbell,Grass,Poison,1,False
13,490,80,105,65,100,70,70,71,Victreebel,Grass,Poison,1,False
14,325,80,80,50,40,50,25,88,Grimer,Poison,NaN,1,False

Advanced filtering: find all the rows with the string Mega in the name column, all Mega Evolved pokemon are in the output (sidenote: Meganium too xd)

In [85]:
df.loc[df['Name'].str.contains('Mega')]

,Totalv2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,#,Name,Type 1,Type 2,Generation,Legendary
3,625,80,100,123,122,120,80,3,VenusaurMega Venusaur,Grass,Poison,1,False
7,634,78,130,111,130,85,100,6,CharizardMega Charizard X,Fire,Dragon,1,False
8,634,78,104,78,159,115,100,6,CharizardMega Charizard Y,Fire,Flying,1,False
12,630,79,103,120,135,115,78,9,BlastoiseMega Blastoise,Water,NaN,1,False
19,495,65,150,40,15,80,145,15,BeedrillMega Beedrill,Bug,Poison,1,False
23,579,83,80,80,135,80,121,18,PidgeotMega Pidgeot,Normal,Flying,1,False
71,590,55,50,65,175,95,150,65,AlakazamMega Alakazam,Psychic,NaN,1,False
87,590,95,75,180,130,80,30,80,SlowbroMega Slowbro,Water,Psychic,1,False
102,600,60,65,80,170,95,130,94,GengarMega Gengar,Ghost,Poison,1,False
124,590,105,125,100,60,100,100,115,KangaskhanMega Kangaskhan,Normal,NaN,1,False
137,600,65,155,120,65,90,105,127,PinsirMega Pinsir,Bug,Flying,1,False
141,640,95,155,109,70,130,81,130,GyaradosMega Gyarados,Water,Dark,1,False
154,615,80,135,85,70,95,150,142,AerodactylMega Aerodactyl,Rock,Flying,1,False
163,780,106,190,100,154,100,130,150,MewtwoMega Mewtwo X,Psychic,Fighting,1,True
164,780,106,150,70,194,120,140,150,MewtwoMega Mewtwo Y,Psychic,NaN,1,True
168,525,80,82,100,83,100,80,154,Meganium,Grass,NaN,2,False
196,610,90,95,105,165,110,45,181,AmpharosMega Ampharos,Electric,Dragon,2,False
224,610,75,125,230,55,95,30,208,SteelixMega Steelix,Steel,Ground,2,False
229,600,70,150,140,65,100,75,212,ScizorMega Scizor,Bug,Steel,2,False
232,600,80,185,115,40,105,75,214,HeracrossMega Heracross,Bug,Fighting,2,False
248,600,75,90,90,140,90,115,229,HoundoomMega Houndoom,Dark,Fire,2,False
268,700,100,164,150,95,120,71,248,TyranitarMega Tyranitar,Rock,Dark,2,False
275,630,70,110,75,145,85,145,254,SceptileMega Sceptile,Grass,Dragon,3,False
279,630,80,160,80,130,80,100,257,BlazikenMega Blaziken,Fire,Fighting,3,False
283,635,100,150,110,95,110,70,260,SwampertMega Swampert,Water,Ground,3,False
306,618,68,85,65,165,135,100,282,GardevoirMega Gardevoir,Psychic,Fairy,3,False
327,480,50,85,125,85,115,20,302,SableyeMega Sableye,Dark,Ghost,3,False
329,480,50,105,125,55,95,50,303,MawileMega Mawile,Steel,Fairy,3,False
333,630,70,140,230,60,80,50,306,AggronMega Aggron,Steel,NaN,3,False
336,510,60,100,85,80,85,100,308,MedichamMega Medicham,Fighting,Psychic,3,False
339,575,70,75,80,135,80,135,310,ManectricMega Manectric,Electric,NaN,3,False
349,560,70,140,70,110,65,105,319,SharpedoMega Sharpedo,Water,Dark,3,False
354,560,70,120,100,145,105,20,323,CameruptMega Camerupt,Fire,Ground,3,False
366,590,75,110,110,110,105,80,334,AltariaMega Altaria,Dragon,Fairy,3,False
387,555,64,165,75,93,83,75,354,BanetteMega Banette,Ghost,NaN,3,False
393,565,65,150,60,115,60,115,359,AbsolMega Absol,Dark,NaN,3,False
397,580,80,120,80,120,80,100,362,GlalieMega Glalie,Ice,NaN,3,False
409,700,95,145,130,120,90,120,373,SalamenceMega Salamence,Dragon,Flying,3,False
413,700,80,145,150,105,110,110,376,MetagrossMega Metagross,Steel,Psychic,3,False
418,700,80,100,120,140,150,110,380,LatiasMega Latias,Dragon,Psychic,3,True
420,700,80,130,100,160,120,110,381,LatiosMega Latios,Dragon,Psychic,3,True
426,780,105,180,100,180,100,115,384,RayquazaMega Rayquaza,Dragon,Flying,3,True
476,580,65,136,94,54,96,135,428,LopunnyMega Lopunny,Normal,Fighting,4,False
494,700,108,170,115,120,95,92,445,GarchompMega Garchomp,Dragon,Ground,4,False
498,625,70,145,88,140,70,112,448,LucarioMega Lucario,Fighting,Steel,4,False
511,594,90,132,105,132,105,30,460,AbomasnowMega Abomasnow,Grass,Ice,4,False
527,618,68,165,95,65,115,110,475,GalladeMega Gallade,Psychic,Fighting,4,False
591,545,103,60,126,80,126,50,531,AudinoMega Audino,Normal,Fairy,5,False
796,700,50,160,110,160,110,110,719,DiancieMega Diancie,Rock,Fairy,6,True

Now lets do the opposite, using the loc method() we can specify NOT  IN with ~, its a weird way of doing it having not equal as !=, but that's the way

In [86]:
df.loc[~df['Name'].str.contains('Mega')]

,Totalv2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,#,Name,Type 1,Type 2,Generation,Legendary
0,318,45,49,49,65,65,45,1,Bulbasaur,Grass,Poison,1,False
1,405,60,62,63,80,80,60,2,Ivysaur,Grass,Poison,1,False
2,525,80,82,83,100,100,80,3,Venusaur,Grass,Poison,1,False
4,309,39,52,43,60,50,65,4,Charmander,Fire,NaN,1,False
5,405,58,64,58,80,65,80,5,Charmeleon,Fire,NaN,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
794,600,108,100,121,81,95,95,718,Zygarde50% Forme,Dragon,Ground,6,True
795,600,50,100,150,100,150,50,719,Diancie,Rock,Fairy,6,True
797,600,80,110,60,150,130,70,720,HoopaHoopa Confined,Psychic,Ghost,6,True
798,680,80,160,60,170,130,80,720,HoopaHoopa Unbound,Psychic,Dark,6,True
799,600,80,110,120,130,90,70,721,Volcanion,Fire,Water,6,True

The contains method is super powerful, it can be used with python regular expressions and advanced filtering, lets import the library and test it

In [87]:
import re
df.loc[df['Type 1'].str.contains('Fire|Grass', regex=True)]

,Totalv2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,#,Name,Type 1,Type 2,Generation,Legendary
0,318,45,49,49,65,65,45,1,Bulbasaur,Grass,Poison,1,False
1,405,60,62,63,80,80,60,2,Ivysaur,Grass,Poison,1,False
2,525,80,82,83,100,100,80,3,Venusaur,Grass,Poison,1,False
3,625,80,100,123,122,120,80,3,VenusaurMega Venusaur,Grass,Poison,1,False
4,309,39,52,43,60,50,65,4,Charmander,Fire,NaN,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,369,62,50,58,73,54,72,667,Litleo,Fire,Normal,6,False
736,507,86,68,72,109,66,106,668,Pyroar,Fire,Normal,6,False
740,350,66,65,48,62,57,52,672,Skiddo,Grass,NaN,6,False
741,531,123,100,62,97,81,68,673,Gogoat,Grass,NaN,6,False
799,600,80,110,120,130,90,70,721,Volcanion,Fire,Water,6,True

Now let's utilize more parameters like the flags=re.I that ignores capitalization in the filtering

In [88]:
import re
df.loc[df['Type 1'].str.contains('fire|grass', regex=True, flags=re.IGNORECASE)]
# Another way 
# df.loc[df['Type 1'].str.contains('Fire|Grass', regex=True, flags=re.IGNORECASE)]

,Totalv2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,#,Name,Type 1,Type 2,Generation,Legendary
0,318,45,49,49,65,65,45,1,Bulbasaur,Grass,Poison,1,False
1,405,60,62,63,80,80,60,2,Ivysaur,Grass,Poison,1,False
2,525,80,82,83,100,100,80,3,Venusaur,Grass,Poison,1,False
3,625,80,100,123,122,120,80,3,VenusaurMega Venusaur,Grass,Poison,1,False
4,309,39,52,43,60,50,65,4,Charmander,Fire,NaN,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,369,62,50,58,73,54,72,667,Litleo,Fire,Normal,6,False
736,507,86,68,72,109,66,106,668,Pyroar,Fire,Normal,6,False
740,350,66,65,48,62,57,52,672,Skiddo,Grass,NaN,6,False
741,531,123,100,62,97,81,68,673,Gogoat,Grass,NaN,6,False
799,600,80,110,120,130,90,70,721,Volcanion,Fire,Water,6,True

All pokemon names that start with with 'Pi'

In [89]:
# re.I is the same as re.IGNORECASE
# [a-z] all leters
# * zero or more occurences of the pattern
# + one or more occurences of the pattern
df.loc[df['Name'].str.contains('^pi[a-z]*', flags=re.I, regex=True)]

,Totalv2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,#,Name,Type 1,Type 2,Generation,Legendary
20,251,40,45,40,35,35,56,16,Pidgey,Normal,Flying,1,False
21,349,63,60,55,50,50,71,17,Pidgeotto,Normal,Flying,1,False
22,479,83,80,75,70,70,101,18,Pidgeot,Normal,Flying,1,False
23,579,83,80,80,135,80,121,18,PidgeotMega Pidgeot,Normal,Flying,1,False
30,320,35,55,40,50,50,90,25,Pikachu,Electric,NaN,1,False
136,500,65,125,100,55,70,85,127,Pinsir,Bug,NaN,1,False
137,600,65,155,120,65,90,105,127,PinsirMega Pinsir,Bug,Flying,1,False
186,205,20,40,15,35,35,60,172,Pichu,Electric,NaN,2,False
219,290,50,65,90,35,35,15,204,Pineco,Bug,NaN,2,False
239,450,100,100,80,60,60,50,221,Piloswine,Ice,Ground,2,False
438,314,53,51,53,61,56,40,393,Piplup,Water,NaN,4,False
558,418,90,93,55,70,55,55,499,Pignite,Fire,Fighting,5,False
578,264,50,55,50,36,30,43,519,Pidove,Normal,Flying,5,False

## Conditional changes

In [90]:
df.head()

,Totalv2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,#,Name,Type 1,Type 2,Generation,Legendary
0,318,45,49,49,65,65,45,1,Bulbasaur,Grass,Poison,1,False
1,405,60,62,63,80,80,60,2,Ivysaur,Grass,Poison,1,False
2,525,80,82,83,100,100,80,3,Venusaur,Grass,Poison,1,False
3,625,80,100,123,122,120,80,3,VenusaurMega Venusaur,Grass,Poison,1,False
4,309,39,52,43,60,50,65,4,Charmander,Fire,NaN,1,False

Editing a column based on a condition

In [91]:
df['Type 1'].loc[df['Type 1'] == 'Fire'] = 'Flame'

In [92]:
# Another Way to do it 
df.loc[df['Type 1'] == 'Flame', 'Type 1'] = 'Flamer'

In [93]:
df.loc[df['Name'] == 'Charizard']

,Totalv2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,#,Name,Type 1,Type 2,Generation,Legendary
6,534,78,84,78,109,85,100,6,Charizard,Flamer,Flying,1,False

In [94]:
# Revert back to normal 
df.loc[df['Type 1'] == 'Flamer', 'Type 1'] = 'Fire'
df.loc[df['Type 1'] == 'Fire']

,Totalv2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,#,Name,Type 1,Type 2,Generation,Legendary
4,309,39,52,43,60,50,65,4,Charmander,Fire,NaN,1,False
5,405,58,64,58,80,65,80,5,Charmeleon,Fire,NaN,1,False
6,534,78,84,78,109,85,100,6,Charizard,Fire,Flying,1,False
7,634,78,130,111,130,85,100,6,CharizardMega Charizard X,Fire,Dragon,1,False
8,634,78,104,78,159,115,100,6,CharizardMega Charizard Y,Fire,Flying,1,False
42,299,38,41,40,50,65,65,37,Vulpix,Fire,NaN,1,False
43,505,73,76,75,81,100,100,38,Ninetales,Fire,NaN,1,False
63,350,55,70,45,70,50,60,58,Growlithe,Fire,NaN,1,False
64,555,90,110,80,100,80,95,59,Arcanine,Fire,NaN,1,False
83,410,50,85,55,65,65,90,77,Ponyta,Fire,NaN,1,False
84,500,65,100,70,80,80,105,78,Rapidash,Fire,NaN,1,False
135,495,65,95,57,100,85,93,126,Magmar,Fire,NaN,1,False
147,525,65,130,60,95,110,65,136,Flareon,Fire,NaN,1,False
158,580,90,100,90,125,85,90,146,Moltres,Fire,Flying,1,True
169,309,39,52,43,60,50,65,155,Cyndaquil,Fire,NaN,2,False
170,405,58,64,58,80,65,80,156,Quilava,Fire,NaN,2,False
171,534,78,84,78,109,85,100,157,Typhlosion,Fire,NaN,2,False
236,250,40,40,40,70,40,20,218,Slugma,Fire,NaN,2,False
237,410,50,50,120,80,80,30,219,Magcargo,Fire,Rock,2,False
259,365,45,75,37,70,55,83,240,Magby,Fire,NaN,2,False
263,580,115,115,85,90,75,100,244,Entei,Fire,NaN,2,True
270,680,106,130,90,110,154,90,250,Ho-oh,Fire,Flying,2,True
276,310,45,60,40,70,50,45,255,Torchic,Fire,NaN,3,False
277,405,60,85,60,85,60,55,256,Combusken,Fire,Fighting,3,False
278,530,80,120,70,110,70,80,257,Blaziken,Fire,Fighting,3,False
279,630,80,160,80,130,80,100,257,BlazikenMega Blaziken,Fire,Fighting,3,False
352,305,60,60,40,65,45,35,322,Numel,Fire,Ground,3,False
353,460,70,100,70,105,75,40,323,Camerupt,Fire,Ground,3,False
354,560,70,120,100,145,105,20,323,CameruptMega Camerupt,Fire,Ground,3,False
355,470,70,85,140,85,70,20,324,Torkoal,Fire,NaN,3,False
435,309,44,58,44,58,44,61,390,Chimchar,Fire,NaN,4,False
436,405,64,78,52,78,52,81,391,Monferno,Fire,Fighting,4,False
437,534,76,104,71,104,71,108,392,Infernape,Fire,Fighting,4,False
518,540,75,95,67,125,95,83,467,Magmortar,Fire,NaN,4,False
542,600,91,90,106,130,106,77,485,Heatran,Fire,Steel,4,True
557,308,65,63,45,45,45,45,498,Tepig,Fire,NaN,5,False
558,418,90,93,55,70,55,55,499,Pignite,Fire,Fighting,5,False
559,528,110,123,65,100,65,65,500,Emboar,Fire,Fighting,5,False
572,316,50,53,48,53,48,64,513,Pansear,Fire,NaN,5,False
573,498,75,98,63,98,63,101,514,Simisear,Fire,NaN,5,False
614,315,70,90,45,15,45,50,554,Darumaka,Fire,NaN,5,False
615,480,105,140,55,30,55,95,555,DarmanitanStandard Mode,Fire,NaN,5,False
616,540,105,30,105,140,105,55,555,DarmanitanZen Mode,Fire,Psychic,5,False
692,484,85,97,66,105,66,65,631,Heatmor,Fire,NaN,5,False
721,307,40,45,40,62,60,60,653,Fennekin,Fire,NaN,6,False
722,409,59,59,58,90,70,73,654,Braixen,Fire,NaN,6,False
723,534,75,69,72,114,100,104,655,Delphox,Fire,Psychic,6,False
730,382,62,73,55,56,52,84,662,Fletchinder,Fire,Flying,6,False
731,499,78,81,71,74,69,126,663,Talonflame,Fire,Flying,6,False
735,369,62,50,58,73,54,72,667,Litleo,Fire,Normal,6,False
736,507,86,68,72,109,66,106,668,Pyroar,Fire,Normal,6,False
799,600,80,110,120,130,90,70,721,Volcanion,Fire,Water,6,True

Let's make all Fire Pokemon Legendary

In [95]:
df.loc[df['Type 1'] == 'Fire', 'Legendary'] = True
df.loc[df['Legendary'] == True]

,Totalv2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,#,Name,Type 1,Type 2,Generation,Legendary
4,309,39,52,43,60,50,65,4,Charmander,Fire,NaN,1,True
5,405,58,64,58,80,65,80,5,Charmeleon,Fire,NaN,1,True
6,534,78,84,78,109,85,100,6,Charizard,Fire,Flying,1,True
7,634,78,130,111,130,85,100,6,CharizardMega Charizard X,Fire,Dragon,1,True
8,634,78,104,78,159,115,100,6,CharizardMega Charizard Y,Fire,Flying,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,600,50,100,150,100,150,50,719,Diancie,Rock,Fairy,6,True
796,700,50,160,110,160,110,110,719,DiancieMega Diancie,Rock,Fairy,6,True
797,600,80,110,60,150,130,70,720,HoopaHoopa Confined,Psychic,Ghost,6,True
798,680,80,160,60,170,130,80,720,HoopaHoopa Unbound,Psychic,Dark,6,True
799,600,80,110,120,130,90,70,721,Volcanion,Fire,Water,6,True

In [96]:
# Reverting changes
df = pd.read_csv('modified_pokemon_df.csv')
df.head()

,Totalv2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,#,Name,Type 1,Type 2,Generation,Legendary
0,318,45,49,49,65,65,45,1,Bulbasaur,Grass,Poison,1,False
1,405,60,62,63,80,80,60,2,Ivysaur,Grass,Poison,1,False
2,525,80,82,83,100,100,80,3,Venusaur,Grass,Poison,1,False
3,625,80,100,123,122,120,80,3,VenusaurMega Venusaur,Grass,Poison,1,False
4,309,39,52,43,60,50,65,4,Charmander,Fire,NaN,1,False

Multiple parameter changes

In [97]:
df.loc[df['Totalv2'] >= 600, ['Generation', 'Legendary']] = 'FLOW'
df.loc[df['Totalv2'] >= 600]

,Totalv2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,#,Name,Type 1,Type 2,Generation,Legendary
3,625,80,100,123,122,120,80,3,VenusaurMega Venusaur,Grass,Poison,FLOW,FLOW
7,634,78,130,111,130,85,100,6,CharizardMega Charizard X,Fire,Dragon,FLOW,FLOW
8,634,78,104,78,159,115,100,6,CharizardMega Charizard Y,Fire,Flying,FLOW,FLOW
12,630,79,103,120,135,115,78,9,BlastoiseMega Blastoise,Water,NaN,FLOW,FLOW
102,600,60,65,80,170,95,130,94,GengarMega Gengar,Ghost,Poison,FLOW,FLOW
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,600,50,100,150,100,150,50,719,Diancie,Rock,Fairy,FLOW,FLOW
796,700,50,160,110,160,110,110,719,DiancieMega Diancie,Rock,Fairy,FLOW,FLOW
797,600,80,110,60,150,130,70,720,HoopaHoopa Confined,Psychic,Ghost,FLOW,FLOW
798,680,80,160,60,170,130,80,720,HoopaHoopa Unbound,Psychic,Dark,FLOW,FLOW
799,600,80,110,120,130,90,70,721,Volcanion,Fire,Water,FLOW,FLOW

A more correct approach

In [98]:
df.loc[df['Totalv2'] >= 600, ['Generation', 'Legendary']] = ['100', True]
df.loc[df['Totalv2'] >= 600]

,Totalv2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,#,Name,Type 1,Type 2,Generation,Legendary
3,625,80,100,123,122,120,80,3,VenusaurMega Venusaur,Grass,Poison,100,True
7,634,78,130,111,130,85,100,6,CharizardMega Charizard X,Fire,Dragon,100,True
8,634,78,104,78,159,115,100,6,CharizardMega Charizard Y,Fire,Flying,100,True
12,630,79,103,120,135,115,78,9,BlastoiseMega Blastoise,Water,NaN,100,True
102,600,60,65,80,170,95,130,94,GengarMega Gengar,Ghost,Poison,100,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,600,50,100,150,100,150,50,719,Diancie,Rock,Fairy,100,True
796,700,50,160,110,160,110,110,719,DiancieMega Diancie,Rock,Fairy,100,True
797,600,80,110,60,150,130,70,720,HoopaHoopa Confined,Psychic,Ghost,100,True
798,680,80,160,60,170,130,80,720,HoopaHoopa Unbound,Psychic,Dark,100,True
799,600,80,110,120,130,90,70,721,Volcanion,Fire,Water,100,True

In [99]:
df.loc[df['Name'] == 'Dragonite']

,Totalv2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,#,Name,Type 1,Type 2,Generation,Legendary
161,600,91,134,95,100,100,80,149,Dragonite,Dragon,Flying,100,True

Advanced conditional Filtering with Regular Expressions (RegEx); lets change all pokemon whose name start with pi to the legendary status of PIKA PIKA

In [100]:
df.loc[df['Name'].str.contains('^pi[a-z]*', flags=re.IGNORECASE, regex=True), 'Legendary'] = 'PIKA PIKA'
df.loc[df['Legendary'] == 'PIKA PIKA']

,Totalv2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,#,Name,Type 1,Type 2,Generation,Legendary
20,251,40,45,40,35,35,56,16,Pidgey,Normal,Flying,1,PIKA PIKA
21,349,63,60,55,50,50,71,17,Pidgeotto,Normal,Flying,1,PIKA PIKA
22,479,83,80,75,70,70,101,18,Pidgeot,Normal,Flying,1,PIKA PIKA
23,579,83,80,80,135,80,121,18,PidgeotMega Pidgeot,Normal,Flying,1,PIKA PIKA
30,320,35,55,40,50,50,90,25,Pikachu,Electric,NaN,1,PIKA PIKA
136,500,65,125,100,55,70,85,127,Pinsir,Bug,NaN,1,PIKA PIKA
137,600,65,155,120,65,90,105,127,PinsirMega Pinsir,Bug,Flying,100,PIKA PIKA
186,205,20,40,15,35,35,60,172,Pichu,Electric,NaN,2,PIKA PIKA
219,290,50,65,90,35,35,15,204,Pineco,Bug,NaN,2,PIKA PIKA
239,450,100,100,80,60,60,50,221,Piloswine,Ice,Ground,2,PIKA PIKA
438,314,53,51,53,61,56,40,393,Piplup,Water,NaN,4,PIKA PIKA
558,418,90,93,55,70,55,55,499,Pignite,Fire,Fighting,5,PIKA PIKA
578,264,50,55,50,36,30,43,519,Pidove,Normal,Flying,5,PIKA PIKA

In [101]:
# Reverting changes
df = pd.read_csv('modified_pokemon_df.csv')
df.head()

,Totalv2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,#,Name,Type 1,Type 2,Generation,Legendary
0,318,45,49,49,65,65,45,1,Bulbasaur,Grass,Poison,1,False
1,405,60,62,63,80,80,60,2,Ivysaur,Grass,Poison,1,False
2,525,80,82,83,100,100,80,3,Venusaur,Grass,Poison,1,False
3,625,80,100,123,122,120,80,3,VenusaurMega Venusaur,Grass,Poison,1,False
4,309,39,52,43,60,50,65,4,Charmander,Fire,NaN,1,False

## Aggregate statistics

Group by, SUM, MIN, MAX, COUNT, AVG

In [102]:
df.groupby(['Type 1']).mean().sort_values('HP', ascending=False)

C:\Users\Brahyam Almonte Ruiz\AppData\Local\Temp\ipykernel_25252\3320615934.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(['Type 1']).mean().sort_values('HP', ascending=False)

,Totalv2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,#,Generation,Legendary
Type 1,,,,,,,,,,
Dragon,550.531250,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,474.375000,3.875000,0.375000
Normal,401.683673,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020,319.173469,3.051020,0.020408
Fairy,413.176471,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,449.529412,4.117647,0.058824
Ground,437.500000,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,356.281250,3.156250,0.125000
Water,430.455357,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,303.089286,2.857143,0.035714
Ice,433.458333,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333,423.541667,3.541667,0.083333
Flying,485.000000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,677.750000,5.500000,0.500000
Psychic,475.947368,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228,380.807018,3.385965,0.245614
Fire,458.076923,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,327.403846,3.211538,0.096154
Fighting,416.444444,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,363.851852,3.370370,0.000000
Grass,421.142857,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,344.871429,3.357143,0.042857
Poison,399.142857,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,251.785714,2.535714,0.000000
Dark,445.741935,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,461.354839,4.032258,0.064516
Rock,453.750000,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,392.727273,3.454545,0.090909
Steel,487.703704,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,442.851852,3.851852,0.148148
Ghost,439.562500,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,486.500000,4.187500,0.062500
Electric,443.409091,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,363.500000,3.272727,0.090909
Bug,378.927536,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,334.492754,3.217391,0.000000

Next, a cool SUM, but its not useful because we re adding only by the first type of a pokemon

In [103]:
df.groupby(['Type 1']).sum(numeric_only=True)

,Totalv2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,#,Generation,Legendary
Type 1,,,,,,,,,,
Bug,26146,3925,4897,4880,3717,4471,4256,23080,222,0
Dark,13818,2071,2740,2177,2314,2155,2361,14302,125,2
Dragon,17617,2666,3588,2764,3099,2843,2657,15180,124,12
Electric,19510,2631,3040,2917,3961,3243,3718,15994,144,4
Fairy,7024,1260,1046,1117,1335,1440,826,7642,70,1
Fighting,11244,1886,2613,1780,1434,1747,1784,9824,91,0
Fire,23820,3635,4408,3524,4627,3755,3871,17025,167,5
Flying,1940,283,315,265,377,290,410,2711,22,2
Ghost,14066,2062,2361,2598,2539,2447,2059,15568,134,2
Grass,29480,4709,5125,4956,5425,4930,4335,24141,235,3
Ground,14000,2361,3064,2715,1807,2008,2045,11401,101,4
Ice,10403,1728,1746,1714,1861,1831,1523,10165,85,2
Normal,39365,7573,7200,5865,5470,6245,7012,31279,299,2
Poison,11176,1883,2091,1927,1692,1803,1780,7050,71,0
Psychic,27129,4026,4073,3858,5609,4918,4645,21706,193,14
Rock,19965,2876,4086,4435,2787,3321,2460,17280,152,4
Steel,13168,1761,2503,3412,1823,2177,1492,11957,104,4
Water,48211,8071,8305,8170,8379,7898,7388,33946,320,4

Count method

In [104]:
df.groupby('Legendary').count()

,Totalv2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,#,Name,Type 1,Type 2,Generation
Legendary,,,,,,,,,,,,
False,735,735,735,735,735,735,735,735,735,735,374,735
True,65,65,65,65,65,65,65,65,65,65,40,65

Now let's count again, we can see the rows have the same data in each of its columns, except the Type 2 column, this one only got 52 entries in the first row. 

That's because there's some pokemon that are pure bug, meaning they have 'Bug' in Type 1 and BLANK or NULL in Type 2

In [105]:
df.groupby('Type 1').count()

,Totalv2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,#,Name,Type 2,Generation,Legendary
Type 1,,,,,,,,,,,,
Bug,69,69,69,69,69,69,69,69,69,52,69,69
Dark,31,31,31,31,31,31,31,31,31,21,31,31
Dragon,32,32,32,32,32,32,32,32,32,21,32,32
Electric,44,44,44,44,44,44,44,44,44,17,44,44
Fairy,17,17,17,17,17,17,17,17,17,2,17,17
Fighting,27,27,27,27,27,27,27,27,27,7,27,27
Fire,52,52,52,52,52,52,52,52,52,24,52,52
Flying,4,4,4,4,4,4,4,4,4,2,4,4
Ghost,32,32,32,32,32,32,32,32,32,22,32,32
Grass,70,70,70,70,70,70,70,70,70,37,70,70
Ground,32,32,32,32,32,32,32,32,32,19,32,32
Ice,24,24,24,24,24,24,24,24,24,11,24,24
Normal,98,98,98,98,98,98,98,98,98,37,98,98
Poison,28,28,28,28,28,28,28,28,28,13,28,28
Psychic,57,57,57,57,57,57,57,57,57,19,57,57
Rock,44,44,44,44,44,44,44,44,44,35,44,44
Steel,27,27,27,27,27,27,27,27,27,22,27,27
Water,112,112,112,112,112,112,112,112,112,53,112,112

Now lets count, but only output one column of the new dataframe,

In [106]:
df.groupby('Type 1').count()['Name']

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
Name: Name, dtype: int64

Now lets try to do it but with two columns

In [107]:
df.groupby('Type 1').count()[['Name', 'Type 2']]

          Name  Type 2
Type 1
Bug         69      52
Dark        31      21
Dragon      32      21
Electric    44      17
Fairy       17       2
Fighting    27       7
Fire        52      24
Flying       4       2
Ghost       32      22
Grass       70      37
Ground      32      19
Ice         24      11
Normal      98      37
Poison      28      13
Psychic     57      19
Rock        44      35
Steel       27      22
Water      112      53

Now lets group by multiples values

In [108]:
# Note: only one column outputs a dictionary of sorts
df.groupby(['Type 1', 'Type 2']).count()['Name']

Type 1  Type 2
Bug     Electric     2
        Fighting     2
        Fire         2
        Flying      14
        Ghost        1
                    ..
Water   Ice          3
        Poison       3
        Psychic      5
        Rock         4
        Steel        1
Name: Name, Length: 136, dtype: int64

In [109]:
# But two columns output a dataframe
df.groupby(['Type 1', 'Type 2']).count()[['Name', '#']]

                 Name   #
Type 1 Type 2
Bug    Electric     2   2
       Fighting     2   2
       Fire         2   2
       Flying      14  14
       Ghost        1   1
...               ...  ..
Water  Ice          3   3
       Poison       3   3
       Psychic      5   5
       Rock         4   4
       Steel        1   1

[136 rows x 2 columns]

Working with large amounts of data, like a 10GB file

In [110]:
# This would be a normal, total read
df = pd.read_csv('modified_pokemon_df.csv')

In [111]:
# This line reads the file in batches of 5 rows
df = pd.read_csv('modified_pokemon_df.csv', chunksize=5)

Now lets make sure is reading chunk by chunk

In [112]:
i = 0
for df in pd.read_csv('modified_pokemon_df.csv', chunksize=10):
    i += 1
    print('Current Batch:', i)

Current Batch: 1
Current Batch: 2
Current Batch: 3
Current Batch: 4
Current Batch: 5
Current Batch: 6
Current Batch: 7
Current Batch: 8
Current Batch: 9
Current Batch: 10
Current Batch: 11
Current Batch: 12
Current Batch: 13
Current Batch: 14
Current Batch: 15
Current Batch: 16
Current Batch: 17
Current Batch: 18
Current Batch: 19
Current Batch: 20
Current Batch: 21
Current Batch: 22
Current Batch: 23
Current Batch: 24
Current Batch: 25
Current Batch: 26
Current Batch: 27
Current Batch: 28
Current Batch: 29
Current Batch: 30
Current Batch: 31
Current Batch: 32
Current Batch: 33
Current Batch: 34
Current Batch: 35
Current Batch: 36
Current Batch: 37
Current Batch: 38
Current Batch: 39
Current Batch: 40
Current Batch: 41
Current Batch: 42
Current Batch: 43
Current Batch: 44
Current Batch: 45
Current Batch: 46
Current Batch: 47
Current Batch: 48
Current Batch: 49
Current Batch: 50
Current Batch: 51
Current Batch: 52
Current Batch: 53
Current Batch: 54
Current Batch: 55
Current Batch: 56
Current Batch: 57
Current Batch: 58
Current Batch: 59
Current Batch: 60
Current Batch: 61
Current Batch: 62
Current Batch: 63
Current Batch: 64
Current Batch: 65
Current Batch: 66
Current Batch: 67
Current Batch: 68
Current Batch: 69
Current Batch: 70
Current Batch: 71
Current Batch: 72
Current Batch: 73
Current Batch: 74
Current Batch: 75
Current Batch: 76
Current Batch: 77
Current Batch: 78
Current Batch: 79
Current Batch: 80

In [113]:
# Another way to confirm this is working
# for df in pd.read_csv('modified_pokemon_df.csv', chunksize=2):
#     print('Current Batch:')
#     print(df)

New dataframe based on the aggregation of another dataframe

In [114]:
df_group = pd.DataFrame(columns=df.columns)

for df in pd.read_csv('modified_pokemon_df.csv', chunksize=10):
    batch = df.groupby('Type 1').count()
    df_group = pd.concat([df_group, batch])
df_group

,Totalv2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,#,Name,Type 1,Type 2,Generation,Legendary
Fire,5,5,5,5,5,5,5,5,5,NaN,3,5,5
Grass,4,4,4,4,4,4,4,4,4,NaN,4,4,4
Water,1,1,1,1,1,1,1,1,1,NaN,0,1,1
Bug,7,7,7,7,7,7,7,7,7,NaN,5,7,7
Water,3,3,3,3,3,3,3,3,3,NaN,0,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Fairy,1,1,1,1,1,1,1,1,1,NaN,0,1,1
Fire,1,1,1,1,1,1,1,1,1,NaN,1,1,1
Flying,2,2,2,2,2,2,2,2,2,NaN,2,2,2
Psychic,2,2,2,2,2,2,2,2,2,NaN,2,2,2
Rock,2,2,2,2,2,2,2,2,2,NaN,2,2,2